.input-table{
    /*background-color: rgb(236, 234, 234);*/
    width: 100%;
}
.th-table{
    width: 120px;
}


/*the container must be positioned relative:*/
#autocomplequote{
  margin-top:40px;
  background-color: #7f7f9f;
  position: absolute;
  box-shadow: 0 1px 3px 0px;
  border-radius: 3px;
  border: 1px solid #FAFAFA;
  z-index: 100;
  /*max-height: 250px;*/
  overflow-y: auto;
  margin-left: 40px;
  background:red;

  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}


.selected {
  background:#0C162D;
  color:white;
}

.input_style_total{
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

/************Buscar un cliente****************/
.div-content-search .fa-search {
  position: absolute;
  top: 12px;
  left: 20px;
  color: #9ca3af
}

.input_search {
  height: 40px;
  text-indent: 33px;
  border-radius: 10px
}

.input_search:focus {
  box-shadow: 0 0 5px #03569F;
}
/****************************/